body {
    margin: 60px auto;
    width: 70%;
    background: url(../resources/background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

#portrait {
    border-radius: 130px;
}

h1 {
    font-size: 60px;
    font-family: Sans-Serif;
    color: #333;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: Helvetica;
}

.social-icons {
    color: #333;
    letter-spacing: 30px;
    position: fixed;
    margin: 0 auto;
    left: 35px;
    right: 0;}

.social-icons:hover {
    color: white;
}